{% extends 'base.html' %}
{% block css_block %}
    {% load static %}
    <link href="{% static 'autoassess/css/disambigution.css' %}"
          rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="row">
                <h2>
                    {{ search_term }}
                    <small>may refer to:</small>
                    {#                <small>(Sorry, there are a few things with that name.)</small>#}
                </h2>
            </div>
        </div>
        <div class="row">
            <table class="table table-responsive table-striped table-condensed col-lg-10">
                <tr class="success">
                    <th>Title</th>
                    <th>Description</th>
                </tr>
                {% for page in pages %}
                    <tr>
                        <td>
                            <strong><a href="{% url 'quiz' %}?q={{ page.link }}">{{ page.title }}</a></strong>
                        </td>
                        <td>{{ page.text }}
                            <a href="http://en.wikipedia.org/wiki/{{ page.title }}">
                                <span class="glyphicon glyphicon-share-alt"
                                      aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}