{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <h2 class="text-success"> Reference Answers </h2>
            {% for question in right_answers %}

                <h4>{{ question.question_text }}</h4>
                <p><strong>Right Answer: </strong>{{ question.right_answer }}
                </p>
                {% if question.learner_answer %}
                    <p>
                    <span class="text-warning">
                        <strong>Your
                            Answer: </strong>{{ question.learner_answer }}
                    </span>
                    </p>
                {% else %}
                    <p>
                        <span class="text-success">
                            <strong>Your Answer: </strong>CORRECT
                        </span>
                    </p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <h2 class="text-info"> Start Learning !</h2>
            {% for topic in topics %}
                {% if topic.is_main_topic %}
                    <h3>{{ topic.title }}</h3>
                {% else %}
                    <h4>{{ topic.title }}</h4>
                {% endif %}
                <p>
                    {{ topic.wikipage.summary }}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}