{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>
                    Quizzes Preview
                    {#                    Current automatic generating version: 0.25<br>#}
                    {#                    Mixed Quiz: version = -1.0 or -1.1<br>#}
                    {#                    Ignore all other versions<br>#}
                </h1>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="alert alert-dismissable alert-info" role="alert">
                    The search box is currently not functioning properly. It
                    only logs your topic you request on the server for future
                    generation now.
                    An interactive version where you can generate quizzes for
                    arbitrary topics on the fly is under deployment! Keep tuned.
                </div>
                <table class="table table-responsive table-condensed table-striped">
                    <tr>
                        <th>Quiz Topic</th>
                        <th>Type</th>
                        <th>Version</th>
                    </tr>
                    {% for quiz in quizzes %}
                        <tr>
                            <td>
                                <a href="{% url 'quiz' %}?q={{ quiz.set_topic }}&v={{ quiz.version }}">{{ quiz.set_topic }}</a>
                            </td>
                            <td> {{ quiz.note }}</td>
                            <td> {{ quiz.version }}</td>
                        </tr>
                        {#                    <br>#}
                    {% endfor %}
                </table>
            </div>
        </div>


        <div class="row">
            <br>
        </div>
    </div>
{% endblock %}