{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1"><h1>
                You searched for <span
                    class="alert-success">{{ search_term }}</span>, let's see
                what you know about
                some related topics.
            </h1></div>
        </div>
        <div class="row">
            {#            <h2>&nbsp;&nbsp;&nbsp;&nbsp;The prerequisites are:</h2>#}
            {#            <br>#}

            <div class="col-sm-10 col-sm-offset-1">
                <form role="quiz" action="/autoassess/learn/" method="get">
                    <input name="main_topic" value="{{ search_term }}"
                           hidden="hidden">
                    {% for question in quiz %}
                        Question ID: {{ question.id }}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>{{ question.question_text }}
                                </h4>
                            </div>
                            <table class="table">
                                {% for answer in question.choices %}
                                    <tr>
                                        <td/>
                                        {# <input type="radio" name="{{ question.topic }}" value="{{ answer.correct }}">#}
                                        <input type="radio"
                                               name="{{ question.id }}"
                                               value="{{ answer.idx }}">
                                        <td>{{ answer.text }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endfor %}
                    <div class="col-md-6 col-md-offset-3">
                        <button type="submit"
                                class="btn btn-lg btn-block btn-primary">Move on
                            to Learning Things
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-sm-12">
                {% if answers %}
                    <table class="table">
                        <tr>
                            <th>topic</th>
                            <th>answer</th>
                            <th>correct</th>
{#                            <th>tc</th>#}
{#                            <th>qc</th>#}
{#                            <th>reas</th>#}
{#                            <th>GE</th>#}
{#                            <th>SE</th>#}
{#                            <th>guess</th>#}
{#                            <th>t_time</th>#}
                            <th>s_time</th>
                            <th>comment</th>
                        </tr>
                        {{ answers | length }}
                        {% for ans in answers %}
                            <tr>
                                <td>{{ ans.topic }}</td>
                                <td>{{ ans.answer }}</td>
                                <td>{{ ans.correctness }}</td>
{#                                <td>{{ ans.topic_confidence }}</td>#}
{#                                <td>{{ ans.question_confidence }}</td>#}
{#                                <td>{{ ans.is_reasonable_question }}</td>#}
{#                                <td>{{ ans.grammatical_errors }}</td>#}
{#                                <td>{{ ans.semantic_errors }}</td>#}
{#                                <td>{{ ans.comment_guess | safe }}</td>#}
{#                                <td>{{ ans.topic_confidence_time_delta }}</td>#}
                                <td>{{ ans.submit_time_delta }}</td>
                                <td>{{ ans.comment | safe }}</td>
                            </tr>

                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <br>
        </div>
    </div>
{% endblock %}